
#content {
	background-color: #222222;
	color: #888888;
}

body {
	background-color: #222222;
}

#title {
	font-family: Garamond, serif;
	color: white;
}

#lastName {
	margin-top: -25px;
}

#portrait {
	border: solid 2px #e09873;
	padding: 10px;
	text-align: center;
}

#navbar ul li {
	padding: 10px 40px;
	text-align: center;
	letter-spacing: 2px;
}

#pixelArea {
	padding-left: 0px;
}